<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.get_username }}. Thanks for logging in.</h2>
    {% else %}
        <h2>Welcome, new user. Please log in.</h2>
    {% endif %}
    <br>
    <br>
    <h3>Create a Product with a specific Database</h3>

    <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    
</body>
</html>