<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for message in messages%}
        <h2> {{message}}</h2>
        {% endfor %}
    </div>

</body>
</html>